.main{
  display:flex;
  flex-direction: row;
  width:100%;
}
.container{
  max-width:100%;
  background-color:hsla(180,100%,25%,0.1);
}

.display{
  width:20%;
  text-align:left;
  padding-left: 20px;
  background-color:hsla(180,100%,25%,0.9);
  
}
#title{
  text-align: center;
}
